body {
  background-image: url("https://images.pexels.com/photos/1118873/pexels-photo-1118873.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;

  background-position: center top;
  background-attachment: fixed;
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(51, 50, 50, 0.895);
  color: whitesmoke;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cityNameDiv {
  background-color: rgba(17, 17, 17, 0.6);
  border-radius: 10px;
  padding: 10px;
  padding-left: 10%;
}

.cityAndLocationDiv {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.locationDiv {
  background-color: rgba(36, 34, 34, 0.499);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(144, 134, 134, 0.816);
  color: azure;
  /* padding: 10px; */
  /* margin-top: 20px; */
}

.forecastDiv {
  background-color: rgba(17, 17, 17, 0.6);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
  position: relative;
}

.forecastDayDiv > div {
  background-color: rgba(77, 76, 76, 0.6);
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  /* width: 50vw; */
}

@media only screen and (min-width: 200px) and (max-width: 950px) {
  .App {
    background-size: cover;
    height: fit-content;
  }

  .defaultDisp img {
    width: 80%;
  }

  .cityAndLocationDiv {
    position: static;
  }

  .locationDiv {
    position: static;
  }

  .forecastDiv {
    width: 100%;
  }
}

@media only screen and (min-width: 200px) and (max-width: 555px) {
  .cityNameDiv p {
    font-size: 15px;
    width: fit-content;
  }

  .ldiv {
    text-align: center;
  }

  .forecastDiv {
    width: 100%;
  }

  .forecastDayDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .forecastDayDiv p {
    display: inline-block;
    padding: 10px;
  }
}
.cityAndLocationDiv {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 950px) and (max-width: 1550px) {
  .cityAndLocationDiv {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
  }

  .cityNameDiv {
    flex: 2;
    /* background-color: green; */
  }
  .locationDiv {
    flex: 1.5;
    height: fit-content;
    /* background-color: green; */
  }

  .forecastDiv {
    width: 100%;
    /* background-color: blue; */
  }
  .forecastDayDiv > div {
    background-color: rgba(51, 51, 51, 0.518);
    width: 30%;
  }
}
